<div class="row">
    <div class="medium-4 columns">
      <h2>
        <i class="material-icons">shopping_basket</i>
        <span>Checkout</span>
      </h2>
    </div>
    <div class="medium-4 columns text-right">
      <h4>
        Order Total
        <span class="text--red text--bold js-gross-total">{{ total | currency:'INR':true}}</span>
      </h4>
    </div>
    <div class="medium-2 columns text-right">
        <a class="warning button expanded"
          (click)="Continue()">Continue Shopping</a>
      </div>
      <div class="medium-2 columns text-right">
          <a class="success button small"
          (click)="PlaceOrder()">Place Order</a>
        </div>
    <div class="medium-4 columns text-right">
    </div>
    <hr/>
  </div>
  <div class="row">
    <div class="medium-8 columns">
 
      <div class="row checkout_row"
          *ngFor="let item of Orders">
        <div class="medium-2 columns text-center">
           
        </div>
        <div class="medium-5 columns">
            <span class="text--bold js-product-name">{{item.name}}</span>
            
        </div>
        <div class="medium-2 columns text-right">
            <p class="text--red js-product-costs">{{item.quantity}} x {{item.price }}</p>
        </div>
        <div class="medium-3 columns text-right">
            <p class="text--bold text--red js-product-total">{{item.ProductTotal }}</p>
        </div>
      </div>
    </div>
  
  
  <br><br>
    <div class="row">
      
    </div>
  </div>
  