<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<br><br><br>
<div class="col-md-6 col-md-offset-3">
<form #AddProductForm = "ngForm" (ngSubmit) = "AddProduct(AddProductForm.value)" >
  <input type = "number" class = "form-control" name = "Product_Id" placeholder = "Product_Id" ngModel>
  <br/>
  <input type = "text" class="form-control"  name = "Name" placeholder = "Product Name" ngModel>
  <br/>
  <input type = "number" class="form-control"  name = "Price" placeholder = "Price" ngModel>
  <br/>
  <input type = "text" class="form-control"  name = "Description" placeholder = "Description" ngModel>
  <br/>
  <input type = "number" class="form-control"  name = "Quantity" placeholder = "Quantity" ngModel>
  <br/>
  <input type = "submit" value = "Add" class="btn btn-primary">&nbsp; &nbsp;
</form>
</div> 
{{ProductExists}}